packages/Microsoft.AspNet.Mvc.5.2.3/
NancyWebApplication/obj/
packages/Microsoft.AspNet.Razor.3.2.3/
packages/Microsoft.AspNet.WebPages.3.2.3/
NancyWebApplication/bin/
packages/Nancy.Hosting.Aspnet.1.4.1/
packages/Nancy.1.4.3/
packages/Microsoft.Web.Infrastructure.1.0.0.0/
